<!DOCTYPE html>
<html>

<%- include(`partials/head`); %>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">

	<div class="centered-container">
        <h1 class="decorated-title font-secondary main-color">Create new
            <span class="main-color-emphasized"> Partner</span></h1>
        <div class="separator"></div>
    </div>

    <section class="section secondary-color-bg">
        <div class="container">
            <fieldset class="fieldset">
                <div class="label-input">
                    <label> Name </label>
                    <input placeholder="Enter name" id="name" size=" 30 ">
                </div>
                <div class="label-input">
                    <label> Owner name </label>
                    <input placeholder="Enter owner name" id="owner-name" size=" 30 ">
                </div>
                <div class="label-input">
                    <label> Owner surname </label>
                    <input placeholder="Enter owner surname" id="owner-surname" size=" 30 ">
                </div>
                <div class="label-input">
                    <label> Email </label>
                    <input placeholder="Enter email" id="email" size=" 30 ">
                </div>
                <div class="label-input">
                    <label> Partner since </label>
                    <input placeholder="Enter year since partner" id="partner-since" size=" 22 ">
                </div>
                <div class="label-input">
                    <label> Partner for: </label>
                    <%- include(`partials/_select`); %>
                </div>
                <hr>
                <div class="submitButtons">
                    <button class="btn" onclick='

                        let name = document.getElementById("name").value;
                        let ownerName = document.getElementById("owner-name").value;
                        let ownerSurname = document.getElementById("owner-surname").value;
                        let email = document.getElementById("email").value;
                        let partnerSince = document.getElementById("partner-since").value;
                        let selectId = document.getElementById("select").value;

                        // if (!email.includes("@")) {
                        //     alert("Invalid email");
                        // }

                        // partnerSince = parseInt(partnerSince);
                        // if (isNaN(partnerSince)) {
                        //     alert("Partner since must be a number");
                        // }

                        let body = {
                            "name": name,
                            "ownerName": ownerName,
                            "ownerSurname": ownerSurname,
                            "email": email,
                            "partnerSince": partnerSince,
                            "selectId": selectId,
                        };

                        fetch("http://localhost:3000/partners/create-partner", {
                            method: "POST",
                            headers: {"Content-Type": "application/json"},
                            body: JSON.stringify(body),
                        }).catch(err => {
                            console.log(err);
                        }).then(res => {
                            alert("created new partner");
                        });

                        '>Submit</button>

                    <button class="btn" onclick="
                        document.getElementById('name').value='';
                        document.getElementById('owner-name').value='';
                        document.getElementById('owner-surname').value='';
                        document.getElementById('email').value='';
                        document.getElementById('partner-since').value='';
                    ">Reset</button>
                </div>
            </fieldset>
		</div>
    </section>

</main>

<%- include(`partials/footer`); %>

</body>

</html>